/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 /* @author Thanh Trung, Omorhefere Imoloame and Mahesha Kulatunga  @version 1.0.0*/
 /* CSS for mobile app front end*/
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
body {
  background: white !important; }


.search-section {
  margin-top: 0% !important;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%:
}

.search-button {
  background-color: #2E8B57 !important;
  border: none !important;
  min-width: 100% !important;
  border-radius: 0px !important;
  font-size: 30px;
}

.search-button:active {
  background-color: #2e8b40 !important;
  -webkit-transform: scale3d(1, 0.925, 1);
}

.tweet-tab {
  background-color: #2E8B57 !important;
  border: none !important;
  min-width: 100% !important;
  border-radius: 0px !important;
  font-size: 18px;
}

.tweet-tab:active {
  background-color: #2e8b40 !important;
  -webkit-transform: scale3d(1, 0.925, 1);
}

/* unvisited link */
a:link {
  text-decoration: none !important;
}

/* visited link */
a:visited {
  text-decoration: none !important;
}

h1 {
  margin-top: 0%;
  padding-top: 5%;
  padding-bottom: 0%;
}

h2 {
  margin: 0px;
  padding-top: 3%;
  padding-bottom:3%;
  background: #2E8B57;
  color: white;

}

h1, h2 {
  text-align: center;
}

.panel.tweet {
  border-radius: 0px !important;
}

.page-header {
  padding-top: 5% !important;
  margin-top: 0px !important;
  padding-bottom: 0% !important;
  width: 100%;
  background: #2E8B57;
  color: white;
}

.top-section {
  margin-top: 0px !important;
  padding-top: 0px;
  margin-bottom: 0px !important;
}

.tweet-text {
  font-size: 18px !important;
}

.tweet-user {
  font-size: 15px !important;
  color: black !important;
  font-weight: bold !important;
}

/*Tweet footer*/
.panel-footer{
  font-style: italic !important;
  background: white !important;
  margin-bottom: 5% !important;
  height: 5% !important;
}

.extra-info {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.db-heading {
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
